.header {
  width: 100%;
  display: flex;
  height: 78px;
  background-color: #eed3b1;
  align-items: center;
  color: #1f4529;
}

.header-login {
  padding: 0 130px;
}

.nav-links {
  margin-left: auto;
}

.page {
  position: relative;
  min-height: 100vh;
}

.brand-logo {
  user-select: none;
  height: 54px;
}

.nav-links {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
}

.nav-item {
  user-select: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 4px;
  border: 1px solid #1f4529;
  padding: 6px 12px;
  background-color: #eed3b1;
  box-shadow: 0 4px 15px rgba(180, 180, 180, 0.3);
  transition: all 0.7s ease-in-out;
}

.nav-item:hover {
  background-color: #47663b;
  color: #eed3b1;
}

.nav-item.active {
  background-color: #47663b;
  color: #eed3b1;
}

.btn-login {
  background-color: #1f509a;
  border: 1px solid #0a3981;
  box-shadow: 0 4px 15px #d4ebf8ab;
  color: #eed3b1;
}

.btn-login:hover {
  background-color: #0a3981;
  color: #eed3b1;
}

.hero {
  display: flex;
  justify-content: center;
  padding: 5rem 2.5rem;
}

.hero-content {
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.hero-content h1 {
  font-size: 4rem;
  line-height: 1.1123;
}

.hero-content p {
  font-size: 1.2rem;
  font-weight: 500;
}

.card-layout {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-login-out {
  background-image: linear-gradient(to bottom right, #091a79, #00ceff);
  border-radius: 8px;
  box-shadow: 40px 0 100px hsla(192, 100%, 50%, 0.747),
    -40px 0 100px hsla(231, 86%, 25%, 0.747);
  padding: 2px;
}

.card-login-in {
  border-radius: 8px;
  background-color: #ffffff;
}

.card-title {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  margin-bottom: 10px;
  padding-top: 20px;
}

.form-login {
  display: flex;
  flex-direction: column;
  padding: 20px 60px;
  gap: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: fit-content;
}

.form-group label {
  font-weight: 600;
  line-height: 1.7;
}

.form-group input {
  border: 1px solid hsla(0, 0%, 75%, 0.616);
  width: 32ch;
  background-color: #6b11cb44;
  padding: 0.4em 0.5em;
  font-weight: 600;
  border-radius: 8px;
}

input:focus {
  border: 1px solid transparent;
  border-radius: 8px;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, #6a11cb, #2575fc) border-box;
  box-shadow: 0 0 10px rgba(106, 17, 203, 0.5);
}

.input-show-pw {
  display: inline-block;
  width: fit-content;
  margin-top: 1ch;
  vertical-align: middle;
}

.input-show-pw input[type="checkbox"] {
  width: 2ch;
  height: 0.9rem;
}

.form-submit {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.form-submit a {
  font-size: 0.7rem;
  margin-right: auto;
}

.form-submit a span{
  color: #1f509a;
}

.form-submit button {
  user-select: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 4px;
  padding: 6px 20px;
  background-color: #1f509a;
  box-shadow: 0 4px 15px rgba(180, 180, 180, 0.3);
  transition: all 0.7s ease-in-out;
  color: #ffffff;
}

.form-submit button:hover {
  background-color: #2575fc;
  box-shadow: 0 4px 15px #2574fc98;
  color: #ffffff;

}


.form-group-2 {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.form-group-2 input {
  width: 24ch;
}